* {
  font-family: "Roboto Condensed", sans-serif;
}

.link {
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.link:hover, .link:active {
  color: #008a8a;
  text-decoration: none;
}

.nav {
  z-index: 9;
  -webkit-box-shadow: 0px -2px 40px 2px #ccc;
          box-shadow: 0px -2px 40px 2px #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 100px;
  background: white;
}

.nav__link {
  padding: 5px 10px;
}

.nav__link:last-child {
  padding-right: 0;
}

.nav__wrap {
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  padding: 7px 0;
}

@media (max-width: 672px) {
  .nav {
    padding: 0 50px;
    border: none;
  }
}

@media (max-width: 572px) {
  .nav {
    padding: 0 10px;
    border: none;
  }
}

@media (max-width: 492px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prew .container {
    margin-top: 25px;
  }
}

.prew {
  padding-top: 30px;
  width: 100%;
  background: #f3f3f3;
}

.prew .container {
  padding-bottom: 30px;
  padding-top: 60px;
}

.prew__row {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 30px;
  grid-auto-flow: row;
}

.prew__box {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.prew__box a {
  z-index: 10;
  background: #000;
  width: 110%;
  height: 110%;
}

.prew__box img {
  width: 380px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.prew__box p {
  max-width: 300px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 100px;
          border-radius: 100px;
  z-index: 2;
  padding: 0 10px;
  position: absolute;
  font-weight: 700;
  color: black;
  font-size: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.prew__box:hover img {
  opacity: 0.8;
  width: 400px;
}

.prew__box:hover p {
  font-size: 32px;
}

.content {
  background: #f3f3f3;
}

.content__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.content__card {
  background: white;
  -webkit-box-shadow: 0px -2px 40px 2px #ccc;
          box-shadow: 0px -2px 40px 2px #ccc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.content__card .img {
  width: 100%;
  overflow: hidden;
}

.content__card .img img {
  overflow: hidden;
  width: 100%;
}

.content__card:hover {
  -webkit-box-shadow: 0px 2px 40px 2px darkcyan;
          box-shadow: 0px 2px 40px 2px darkcyan;
}

.content__tile {
  overflow: hidden;
  padding: 20px;
  display: inline-block;
}

.content__tile .subtitle {
  margin: 0;
}

.content__tile a {
  color: black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.content__tile a h4 {
  margin-top: 15px;
}

.content__tile a:hover {
  text-decoration: none;
  color: darkcyan;
}

.content__tile p {
  padding: 0;
  margin: 0;
}

.content__tile .label {
  color: white;
  display: inline-block;
  padding: 2px 10px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  font-size: 13px;
}

.content__tile .label__vk {
  background: #000099;
}

.content__tile .label__gift {
  background: #6666ff;
}

.kartochka__row {
  padding-top: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  grid-gap: 30px;
}

.kartochka__main {
  padding: 40px;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (max-content)[4];
      grid-template-rows: repeat(4, -webkit-max-content);
      grid-template-rows: repeat(4, max-content);
  -webkit-box-shadow: 0px -2px 40px 2px #ccc;
          box-shadow: 0px -2px 40px 2px #ccc;
}

.kartochka__main img {
  max-width: 100%;
}

.kartochka__main .label {
  color: white;
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 2px 10px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  font-size: 13px;
  text-transform: uppercase;
}

.kartochka__main .label__vk {
  background: #000099;
}

.kartochka__main .label__gift {
  background: #6666ff;
}

.kartochka__main h2 {
  font-size: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 30px;
}

.kartochka__share {
  background: white;
  -webkit-box-shadow: 0px -2px 40px 2px #ccc;
          box-shadow: 0px -2px 40px 2px #ccc;
  padding: 20px;
}

.kartochka__share p {
  margin: 0 0 10px 0;
  font-weight: 700;
}

.kartochka__share .ssilka {
  font-weight: 400;
  margin-bottom: 20px;
}

.kartochka .button {
  background: darkcyan;
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 7px 20px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .kartochka__row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}
