@charset "UTF-8";
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background: url(../img/bg.jpg) center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

* {
  color: white;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.con {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0 50px;
}

.con .img {
  position: absolute;
  top: 530px;
  z-index: 99;
}

.slider {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card {
  padding-bottom: 100px;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.card__one {
  padding: 30px 10px 0 10px;
  position: reletive;
  min-width: 0;
}

.card__one .header {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 10px;
}

.card__one .bg {
  position: absolute;
  height: 150px;
  z-index: -1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
}

.card__two {
  margin: 0 10px;
  padding: 0 10px 30px 10px;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  position: reletive;
}

.card__two .bg {
  height: 150px;
  background: #000;
  position: absolute;
}

.card__two .text {
  margin: 20px 0 0 0;
  text-transform: uppercase;
  font-size: 22px;
}

.card__two .price {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0;
}

.card__two .price span {
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
  text-transform: uppercase;
  vertical-align: top;
  display: inline-block;
  margin-top: 17px;
}

.card__two input {
  width: 50px;
}

.card__two button {
  background: none;
  border: none;
}

.card__two img {
  padding: 10px 20px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: 3px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card__two img:hover {
  background: #ff8b24;
  border-color: #ff8b24;
}

.btn {
  background: red;
}

.dropdown {
  display: block;
  margin: 0 50px;
  width: 50px;
  border-bottom: 3px solid white;
}

.dropdown:hover {
  background: #000;
}

.knopka:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}

.show {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.show:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
  display: block;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
  height: 142px;
  overflow-y: scroll;
}

.dropdown-menu a {
  display: block;
  color: white;
  padding: 7px;
  text-align: center;
  margin: 0 60px 0 60px;
}

.dropdown-menu a:hover {
  text-decoration: none;
  color: white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.slick-slider.slick-dotted:active, .slick-slider.slick-dotted:click, .slick-slider.slick-dotted:focus {
  outline: none;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slick-slide:active {
  outline: none;
}

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.slick-dots li {
  list-style: none;
  margin-top: 25px;
  padding: 3px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  font-size: 0;
  width: 23px;
  height: 17px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background: #fff;
  border: 3px solid #fff;
}

.slick-dots li.slick-active button:active, .slick-dots li.slick-active button:click, .slick-dots li.slick-active button:focus {
  outline: none;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 23px;
  height: 17px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background: none;
  border: 3px solid #fff;
}

.slick-dots li button:active, .slick-dots li button:click, .slick-dots li button:focus {
  outline: none;
}

.slick-slide.slick-active {
  outline: none;
}

button:active {
  outline: none;
}

.mainmenubtn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px;
  margin-top: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-child {
  display: none;
  background-color: black;
  min-width: 200px;
}

.dropdown-child a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-child {
  display: block;
}

button:active, button:click, button:focus {
  outline: none;
}

@media (max-width: 1120px) {
  .con {
    padding-bottom: 0;
    max-width: 990px;
  }
  .con .img {
    width: 990px;
    top: 655px;
  }
  .con .slick-dots {
    -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
            transform: translateY(-50px);
    height: 10px;
  }
  .con .slick-dots:click {
    outline: none;
  }
  .con .card__one img {
    width: 250px;
  }
}

@media (max-width: 990px) {
  .con {
    padding-top: 50px;
    max-width: 767px;
  }
  .con .img {
    width: 767px;
    height: 20px;
    top: 520px;
  }
  .con .card__one img {
    width: 200px;
  }
  .con .card__two .price {
    display: block;
  }
}

@media (max-width: 767px) {
  .con {
    max-width: 500px;
  }
  .con .img {
    width: 500px;
    height: 20px;
    top: 615px;
  }
  .con .card__one img {
    width: 250px;
  }
}

@media (max-width: 500px) {
  .con {
    max-width: 400px;
  }
  .con .img {
    width: 400px;
    top: 600px;
  }
  .con .card__one img {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .con {
    max-width: 300px;
  }
  .con .img {
    width: 300px;
    top: 605px;
  }
  .con .card__one img {
    width: 250px;
  }
}
