/* Color */
@btn-color: #fcb303;
@icon-color: #46b814;
@text: black;
@danger: #ff0000;
@bg-lite: #f5f5f5;

/* body setings */
html {
	font-size: 10px;
}

section{
	padding: 10rem 0; 
}
a:hover {
	text-decoration: none;
}
input, button, a, textarea{
	&:focus {
		outline: none;
	}
}

.button {
	z-index: 5;
	background-color: @btn-color;
	color: white;
	padding: 1rem 3rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	border-radius:8px;
	border: none;
	transition: all 0.2s;
	&:hover {
		cursor: pointer;
		background-color: darken(@btn-color, 5%);
	}
}
.main {
	padding: 3rem 0;
	background: #fff url(../img/holmy_gory_tuman_180031_1920x1200.jpg) center center no-repeat;
	background-size: cover;
	
	&-inf{
		padding-top:10rem;
		h1 {
			font-size: 4rem;
			padding-bottom: 3rem;
			text-transform: uppercase;
			font-weight: 700;
		}
		p {
			font-size: 2rem;
		}
		span {
			margin: 3rem 0;
			text-align: center;
			display: inline-block;
			padding: 2rem 4rem;
			font-size: 2rem;
			background-color: @icon-color;
			color: white;
			strong {
				font-size: 4rem;
			}
		}
		strong {
			font-size: 2.3rem;
		}

	}

	&-form {
		margin-top: 10rem;
		text-align: center;
		padding: 4rem;
		background-color: white;

		&-header {

			font-size: 2rem;
			padding-bottom: 2rem;
		}
		&-input {
			margin: 2rem 0;
			display: block;
			width: 100%;
			height: 5rem;
			border:1px solid #dddddd;
			border-radius: 7px;
		}
		&-label {
			padding: 0 0.5rem ;
			background-color: white;

			position: absolute;
			transform: translateX(-50%) translateY(-50%);
			
		}

		&-btn{
			margin: 2rem 0 1rem 0;
			display: block;
			width: 100%;
			height: 5rem;
		}


	}

}

.header {
	height: 7rem;
}
.phone-link {
	display: inline-block;
	color: @text;
	font-weight: 900;
	font-size: 1.5rem;
	height: 7rem;
	line-height: 7rem;
}
.wrap {
	/* text-align: left; */
	display: table;
	width: 100%;
	height: 7rem;

	&-block {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
}

.section-header {
	text-align: center;
	margin: 2rem 0 10rem;
	font-size: 3.5rem;
	font-weight: 700;
}

.ficha {
	&-block{
		text-align: center;
	}
	&-block img{
		display: block;
		margin: 0 auto;
		margin-bottom: 4rem;
	}
	p {
		padding: 0 1.5rem;
	}
	h3{
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 2rem;
	}
	p {
		font-size: 1.6rem;
	}
}
.slick-active {
	outline: none;  
}
.prev-arrow {
	position: absolute;
	width: 5rem;
	height: 5rem;
	border: none;
	background: url(../img/arrow-left.png) center no-repeat;
	left: 0%;
	top: 50%;
	transform: scale(-50%);
	z-index: 99;
}
.next-arrow {
	position: absolute;
	width: 5rem;
	height: 5rem;
	border: none;
	background: url(../img/arrow-right.png) center no-repeat;
	right: 0%;
	top: 50%;
	transform: scale(-50%);
	z-index: 99;
}

/* оформнелие модальных окон */
.popup {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.7);
	&-close{
		position: absolute;
		top: 0;
		top: -1.5rem;
		right: -3rem;
		text-align: center;
		border: none;
		background-color: transparent;
		font-size: 3rem;
		color: white;
	}
	&-header {
		font-size: 3rem;

	}
	&-content{
		position: fixed;
left: 50%;
transform: translateX(-50%);
padding: 2rem;
top: 10%;
background-color: white;
		text-align: center;
		p {
			font-size: 1.5rem;
		}
	}
	&-form {
		width: 35rem;
		padding: 2rem;

		&-area{
			height: 10rem;
			margin: 2rem 0;
			display: block;
			width: 100%;
			border:1px solid #dddddd;
			border-radius: 7px;	

		}
		
		&-input{
			margin: 2rem 0;
			display: block;
			width: 100%;
			height: 5rem;
			border:1px solid #dddddd;
			border-radius: 7px;
		}
		&-label {
			padding: 0 0.5rem ;
			background-color: white;

			position: absolute;
			transform: translateX(-50%) translateY(-50%);
			
		}
	}
}



@media (max-width: 991px) {
	.main {
		background-position: top right;
	}
	.main-inf{
		text-align: center;
		padding-top: 4rem;
		padding-bottom:0;
	}
	.main-form{
		margin-top: 4rem;
	}
}
@media (max-width: 767px) {
	.main {
		background-position: top left;
	}
	.header{
		text-align: center;
	}
	.header-btn{
		position: absolute;
		display: block;
		z-index: 9;
		text-align: center;
	}
	.main-inf{
		padding-top: 22rem;
	}
	.wrap-block{
		padding-right: 20%;
	}
}