$btn: #86a642;
$links: #777777;
$text: #6a6a6a;
$usl: #403c21;
$txt-usl: #e1e1e1;

* {
  font-family: "Roboto", sans-serif;
}
header {
  background: white;
}
.header {
  z-index: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  &__img {
    padding-top: 20px;
    width: 130px;
  }
  &__link {
    color: $links;
    font-size: 18px;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
}
.oval {
  width: 210px;
  height: 120px;
  background: white;
  border-radius: 100px / 50px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  position: absolute;
}
section {
  padding: 100px 0;
}
.qq {
  height: 100vh;
  background: url(../img/bg.jpg) center no-repeat;
  background-size: cover;
}

.main {
  color: white;
  margin-top: 50vh;
  transform: translateY(-55%);
  text-align: center;
  width: 100%;

  &__header {
    font-weight: 800;
    font-size: 48px;
    margin: 0;
  }
  &__subheader {
    font-weight: 400;
    font-size: 18px;
  }
  .btn {
    color: white;
    background-color: $btn;
    padding: 12px 50px;
    border-radius: 100px;
    margin-top: 60px;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      color: white;
      background: darken($btn, 5%);
      text-decoration: none;
    }
  }
}
.headers {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
}
.about {
  position: relative;
  text-align: center;
  .oval {
    top: 100%;
    transform: translateX(-50%) translateY(5px);
    z-index: 11;
  }
  &__header {
    padding-bottom: 10px;
  }
  &__par {
    margin: 20px 0 0 0;
    color: $text;
  }
  &__link {
    display: inline-block;
    margin-top: 35px;
    color: #232222;
    border-bottom: 2px solid #232222;
    &:hover {
      text-decoration: none;
      color: lighten(#232222, 20%);
      border-bottom: 2px solid lighten(#232222, 20%);
    }
  }
}
/* usligi */
.usl {
  background: $usl;
  color: $txt-usl;
  text-align: center;
  padding-bottom: 50px;
  &__link {
    display: inline-block;
    margin-top: 50px;
    color: #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    &:hover {
      text-decoration: none;
      color: lighten(#e5e5e5, 20%);
      border-bottom: 2px solid lighten(#e5e5e5, 20%);
    }
  }
  .label {
    color: #c0beae;
    font-size: 14px;
    font-weight: 400;
    margin-top: 7px;
  }
  .col-md-4 {
    padding: 5px;
  }

  &__subpar {
    font-size: 18px;
    margin-bottom: 60px;
  }
  &__header {
    color: #fcfcfc;
  }

  .card {
    &__header {
      color: #fcfcfc;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &__palka {
      width: 1px;
      height: 120px;
      background: #e5e5e5;
      position: absolute;
      z-index: 111;
      left: 50%;
      transform: translateX(-50%);
    }
    &__block {
      margin-top: 70px;
      position: relative;
      padding: 25px;
      /* min-height: 350px; */
      background: #dedeb9;
      &-img {
        img {
          width: 100%;
        }
      }
      &-par {
        color: black;
        font-size: 18px;
        font-weight: 400;
        color: #1b1b1b;
        margin: 15px 0 0 0;
      }
    }
  }
}
/* dostoinstva */
.dost {
  background: #000;
  text-align: center;
  &__header {
    color: #fcfcfc;
  }
  .card {
    padding: 0 30px;
    margin-top: 50px;
    &__img {
      width: 50px;
    }
    &__header {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      margin: 20px 0 0 0;
    }
    &__par {
      color: #e1e1e1;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
.gallery {
  img {
    width: 100%;
    padding-bottom: 20px;
  }
  &__link {
    /* position: relative; */
    z-index: 999;
    display: inline-block;
    margin-top: 70px;
    color: #3a3838;
    border-bottom: 2px solid #3a3838;
    &:hover {
      text-decoration: none;
      color: lighten(#3a3838, 20%);
      border-bottom: 2px solid lighten(#3a3838, 20%);
    }
  }
  text-align: center;
  &__header {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    display: inline-block;
  }
  .col-md-4 {
    padding: 5px;
  }
  img {
    width: 100%;
  }
  &__block {
    &__header {
      margin-top: 25px;
      font-size: 24px;
      font-weight: 400;
    }
    &__par {
      font-size: 18px;
      font-weight: 400;
      padding: 0 30px;
      margin: 10px 0 0 0;
      line-height: 1.3;
    }
    &__btn {
      color: white;
      display: inline-block;
      background: $btn;
      padding: 12px 50px;
      border-radius: 100px;
      margin-top: 30px;
      transition: 0.3s;
      font-size: 18px;
      font-weight: 400;
      &:hover {
        color: darken(white, 5%);
        background: darken($btn, 5%);
        text-decoration: none;
      }
    }
  }
}
.etap {
  padding-bottom: 50px;
  position: relative;
  text-align: center;
  background: #403c21;
  .oval {
    z-index: 1;
    left: 50%;
    transform: translateX(-50%) translateY(-90px);
  }
  &__header {
    margin-bottom: 50px;
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  .block {
    padding-right: 60px;
    padding-bottom: 60px;
    text-align: left;

    &__header {
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      color: #ffffff;
    }
    &__par {
      color: #e1e1e1;
    }
    position: relative;
    img {
      position: absolute;
    }
    .right {
      right: 0;
      top: 0;
      transform: translateY(30px) translateX(12px);
    }
    .left {
      left: 0;
      top: 0;
      transform: rotate(180deg) translateY(-30px) translateX(80px);
    }
    .bottom {
      bottom: 0;
      transform: rotate(90deg) translateX(-30px) translateY(-120px);
    }
  }
}
.svyaz {
  padding-bottom: 130px;
  text-align: center;
  &__header {
    margin: 0;
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
  }
}
.forma {
  padding: 0;
  background: #403c21;
  &__one {
    position: reletive;
    padding: 40px 0;
    .phone {
      background: url(../img/phone.png) left center no-repeat;
    }
    .mail {
      background: url(../img/mail.png) left center no-repeat;
    }
    .what {
      background: url(../img/whatsapp.png) left center no-repeat;
      background-size: 20px;
    }
    &__header {
      margin-bottom: 30px;
      color: #fcfcfc;
      font-weight: 800;
      font-size: 21px;
    }
    &__par {
      color: #e1e1e1;
      font-size: 18px;
      font-weight: 400;
    }
    &__link {
      display: inline-block;
      margin-top: 20px;
      color: #fafafa;
      font-size: 18px;
      font-weight: 400;
      margin-right: 20px;
      padding-left: 23px;
      &:hover {
        text-decoration: none;
        color: darken(#fafafa, 10%);
      }
    }
  }
  /* position: absolute; */
  .form {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    left: 60%;
    /* top: 50%; */
    transform: translateY(-30px);
    position: absolute;
    padding: 30px;
    text-align: center;
    background: #fefefe;
    &__header {
      color: #2e2d2d;
      font-weight: 800;
      font-size: 24px;
      margin-bottom: 0;
    }
    &__par {
      color: #6a6a6a;
      font-weight: 400;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }

    &__input {
      color: #cbc8b1;
      width: 250px;
      border: 2px solid #cbc8b1;
      border-radius: 10px;
      margin: 0 auto;
      display: block;
      padding: 6px;
      margin-bottom: 15px;
      &:active,
      &:hover,
      &:focus {
        outline: 0;
        outline-offset: 0;
      }
    }
    &__button {
      margin: 0 auto;
      display: block;
      color: white;
      background-color: $btn;
      border: none;
      margin-top: 20px;
      padding: 12px 50px;
      border-radius: 100px;
      transition: 0.3s;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      &:hover {
        color: white;
        background: darken($btn, 5%);
        text-decoration: none;
      }
      &:active,
      &:hover,
      &:focus {
        outline: 0;
        outline-offset: 0;
      }
    }
    &__label {
      color: #a6a6a6;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
.formadva {
  padding: 0;
  height: 100px;
}
.copy {
  font-size: 13px;
  text-align: center;
  background: #f8f8f8;
  padding: 30px 0;
  color: #939393;
  &__mean {
    margin: 0;
  }
  &__last {
    margin: 0;
    a {
      color: #30594d;
    }
  }
}
@media (max-width: 1199px) {
  .formadva {
    display: none;
  }
  .forma {
    .form {
      /* position: static; */
      transform: translateY(6px);
    }
  }
}
@media (max-width: 991px) {
  section {
    padding: 50px 0;
  }
  .about {
    &__link {
      display: inline-block;
      z-index: 111;
      position: relative;
    }
    .oval {
      transform: translateY(-50px) translateX(-50%);
      /* z-index: -1; */
    }
  }
  .gallery {
    &__link {
      display: inline-block;
      z-index: 111;
      margin-top: 40px;
      position: relative;
    }
  }
  .etap {
    .block {
      text-align: center;
      padding: 0;
      margin-bottom: 70px;
      .right,
      .bottom,
      .lef2t {
        right: 50%;
        top: 0;
        transform: translateY(105px) translateX(50%) rotate(90deg);
      }
      .left {
        left: 50%;
        top: 0;
        transform: translateY(105px) translateX(-50%) rotate(90deg);
      }
    }
  }
  .svyaz {
    padding: 50px 0;
  }
}
@media (max-width: 776px) {
  .header {
    &__img {
      width: 100px;
    }
    &__link {
      font-size: 14px;
    }
    .oval {
      transform: translateX(-50%) translateY(-20px);
    }
  }
  .gallery {
    &__block {
      &__btn {
        position: relative;
        z-index: 999;
      }
    }
    img {
      padding: 10px;
    }
  }
  .usl {
    .card {
      padding-bottom: 50px;
    }
  }
  .forma {
    .form {
      position: static;
      transform: translateY(0);
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
  &:active {
    outline: none;
  }
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
.slidersone {
  img {
    width: 100%;
  }
  &__item {
    &__block {
      padding: 20px 0;
      .head {
        color: #161616;
        font-size: 24px;
        font-weight: 400;
      }
      .par {
        color: #6a6a6a;
        font-size: 18px;
      }
      .plos {
        margin-top: 50px;
        color: #8a8a8a;
        font-size: 18px;
        span {
          color: #161616;
        }
      }
      .price {
        font-size: 18px;
        color: #8a8a8a;
        span {
          color: #161616;
          font-size: 31px;
        }
      }
      .btn {
        color: white;
        background-color: $btn;
        padding: 12px 50px;
        border-radius: 100px;
        /* margin-top: 60px; */
        transition: 0.3s;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        &:hover {
          color: white;
          background: darken($btn, 5%);
          text-decoration: none;
        }
      }
    }
  }
}
.sliders {
  .hed {
    text-align: center;
  }
  &__header {
    margin-bottom: 40px;
    display: inline-block;
    color: #2e2d2d;
    font-size: 32px;
    font-weight: 400;
  }

  img {
    padding: 5px;
    width: 100%;
  }
  position: reletive;
  .slidersthree {
    img {
      width: 100%;
    }
    padding: 0 70px;
    .slick-next {
      right: 0;
      width: 60px;
      height: 40px;
      right: 13px;
      font-size: 0;
      border: none;
      background: url(../img/Arrow2.png) center no-repeat;
    }
    .slick-prev {
      width: 60px;
      height: 40px;
      left: 13px;
      font-size: 0;
      border: none;
      background: url(../img/Arrow1.png) center no-repeat;
    }
    .slick-arrow {
      position: absolute;
      z-index: 10;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
@media (max-width: 465px) {
  .header {
    text-align: center;
    display: block;
    /* .blokk {
      color: red;
      display: block;
    } */
    &__img {
      margin: 0 auto;
      width: 80px;
      padding: 0;
      display: block;
    }
    &__link {
      display: inline-block;
      /* display: block; */
      font-size: 14px;
      padding: 0 20px;
    }
    .oval {
      display: none;
      transform: translateX(-50%) translateY(-20px);
    }
  }
}

@media (max-height: 600px) {
  .qq {
    min-height: 700px;
  }
}
@media (max-width: 384px) {
  .etap {
    .block {
      margin-bottom: 35px;
      .right,
      .bottom,
      .left {
        display: none;
        /* bottom: 0; */
        /* transform: translateY(100px) translateX(200px) rotate(90); */
      }
    }
  }
}
