p {
  padding: 0;
  margin: 0;
}
.travel {
  text-transform: uppercase;
  font-size: 12px;
  color: #969da0;
}
.main {
  background: #ffffff url(../img/light-grey-terrazzo.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.main .nadpis {
  position: absolute;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main .nadpis .story {
  position: relative;
}
.main .nadpis .story p {
  font-size: 200px;
  line-height: 1;
  color: #ccc;
  opacity: .5;
}
.main .nadpis .marcy {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
  background: #80b7b3;
  padding: 20px 40px 10px 40px;
  -webkit-box-shadow: 0px 5px 10px #e0e0e0;
          box-shadow: 0px 5px 10px #e0e0e0;
}
.main .nadpis .marcy p {
  color: white;
  font-size: 40px;
}
.main .content {
  margin-top: 250px;
}
.main .content .img2 {
  vertical-align: middle;
  margin-top: 100px;
}
.main .content .img2 img {
  position: absolute;
  width: 300px;
}
.main .content .img img {
  padding-right: 0;
  position: absolute;
  max-height: 450px;
  right: 0%;
}
img {
  padding: 10px;
  background: white;
}
.header {
  margin-bottom: 50px;
  font-size: 30px;
}
.text {
  margin-bottom: 30px;
  font-size: 20px;
  font-style: italic;
}
.button {
  background-color: #80b7b3;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 10px 30px;
  border-radius: 100px;
  line-height: 1.5;
}
.button span:after {
  content: '';
  margin-left: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/arrow.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
section {
  padding: 100px 0;
}
.two {
  background: #ffffff url(../img/light-grey-terrazzo.png) center no-repeat;
  background-size: cover;
  text-align: center;
}
.two img {
  margin-bottom: 50px;
}
.two .text {
  padding: 0 30px;
}
.two .button {
  margin-top: 40px;
}
.video {
  background: black;
}
.four {
  padding-bottom: 200px;
  position: relative;
  background: #ffffff url(../img/light-grey-terrazzo.png);
  background-size: cover;
}
.four .travel {
  margin-top: 50px;
}
.four .tata {
  position: relative;
  padding: 40px 100px;
  background: white;
}
.four .tata p {
  font-size: 24px;
  font-style: italic;
}
.four .tata .autor {
  font-style: italic;
  font-size: 18px;
  margin: 20px 0;
  text-transform: uppercase;
  font-style: normal;
}
.four .tata .autor span {
  color: #ccc;
  font-size: 16px;
}
.four .button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
}
.four img {
  position: relative;
}
.four .div {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  width: 100%;
  position: absolute;
  background: red;
}
.four .relative {
  position: relative;
}
.four .absolute {
  position: absolute;
}
.forest {
  text-align: center;
  background: url(../img/forest.jpg) center no-repeat;
  background-size: cover;
}
.forest .form {
  max-width: 700px;
  padding: 50px 70px;
  text-align: center;
  display: inline-block;
  background: rgba(58, 78, 84, 0.9);
}
.forest .form .button {
  margin: 0 auto;
  display: block;
}
.forest .form input {
  margin: 30px 10px 25px;
  font-size: 15px;
  padding: 10px 0 10px 30px;
  border: 1px solid #616f73;
  border-radius: 100px;
  background: rgba(44, 60, 65, 0.7);
  /* margin: 0 auto; */
}
.forest h2 {
  display: inline;
  font-size: 18px;
  color: white;
  padding: 20px;
}
h2,
p,
h1 {
  line-height: 1.7;
}
