@orange: #FF8900;
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
section{
	padding: 80px 0;
}

.button{
	/* display: block; */
	border: none;
	border-radius: 100px;
	text-transform: uppercase;
	font-weight: 900;
	padding: 15px 30px;
	background-color: @orange;
	transition: .3s;
	&:hover{
		/* background: darken(color, 5%); */
		filter: brightness(90%);
	}
	&-black{
		color: black;
		background-color: white;
		}
	}
.header-h1{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
	}
.palka{
	display: inline-block;
	width: 70px;
	height: 1px;
	border: 2px solid @orange;
	margin-bottom: 30px;
	margin-top: 25px;
	}



a{
	font-weight: 700;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
.navibar{

	/* position: sticky; */
	/* z-index: 111; */
	/* top: 0; */
	/* position: fixed; */
	/* left: 0; */
	/* right: 0; */
	border-bottom: 2px solid #ccc;
	padding: 10px 0;
	.hz{
		font-size: 20px;
	}
	a{
		color: #ccc	;
		text-transform: uppercase;
	
	}
	&-link{
		line-height: 30px;
		margin-left: 35px;
	}
	&-right{
		text-align: right;
	}
}

// главный экран
.hz	{
	padding: 0;
	margin: 0;
}
.mainn {
	height: 100vh;
	color: white;
	background: url(../img/header.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	&-otstup{
		 // margin-top: 100px;
		 top: 50%;
		 position: absolute;
		 transform: translateY(-50%); 
	}
	
	.header-p{
		font-size: 18px;
	}
	p{
		font-size: 24px;
		opacity: .5;
		font-weight: 500;
		margin-bottom: 50px;
	}
	
}
.button-rev{
	color: black;
	background-color: white;
}
.two{
	background: @orange;
	text-align: center;
	color: white;
	p{
		font-size: 17px;
		opacity: .5;
		font-weight: 500;
		margin-bottom: 20px;
	}
	.palka{
		border-color: white;
		margin: 20px 0 18px;
	}
}

// второй блок сервисы с иконками
.service{
	text-align: center;
	.palka{
		margin: 18px 0 13px;
	}
	img{
		width: 65px;
	}
	h3{
		margin: 10px 0;
	}
	p{
		font-size: 17px;
		opacity: 0.7;
	}
}

.photo{
	// padding: 0;
	// margin: 0;
	.container{
		// padding: 0;
		// margin: 0;
	}
	.pad{
		// padding: 0;
	}
	img{
		// padding: 0;
		// margin: 0;
		width: 100%;
		margin-bottom: 10px;
		// position: relative;
		// left: -2px;
		transition: 1s;
		&:hover{
			// background-color: red;
			// z-index: 1000;
		}

	}
}

.down{
	padding: 40px 0;
	text-align: center;
	color: white;
	background-color: black;
	h2{
		margin-bottom: 20px;
	}
}

.contact{
	&-box{
		padding-top: 20px;
		p{
			line-height: 40px;
		}
	}
	text-align: center;
	p{
		font-size: 17.5px;
		font-weight: 500;
	}
	a{
		
		text-decoration: none;
		color: @orange;
		display: block;
		font-size: 20px;
	}
	img{
		width: 50px;
		padding: 0 0 10px;
	}
}

@media (max-width: 991px) {
	.mainn{
		&-otstup{
			margin-top: 50px;
		}
	}
	.service{
		&-box{
			margin-bottom: 50px;
		}
	}

}

@media (max-width: 767px) {
	.navibar{
		background-color: white;
		border: 1px solid black;
		&-right{
			display: none;
		}
		&-link{
			display: none;
		}
	}
	.mainn{
		height: 110vh;
		&-otstup{
			margin-top: 0;
		}
	}
	.service{
		&-box{
			margin-bottom: 50px;
		}
	}
}