* {
  font-family: 'Lato', sans-serif;
}
header {
  background: url(../img/bg.jpg) no-repeat;
  background-position: center top 20%;
  background-size: cover;
}
header .button {
  margin-bottom: 50px;
}
header .navv-left {
  position: absolute;
  margin-left: 20px;
}
header .navv-right {
  position: absolute;
  right: 0;
  margin-right: 20px;
}
header .navv ul {
  font-size: 18px;
  padding-left: 0;
}
header .navv ul li {
  list-style: none;
  display: inline;
}
header .navv ul li a {
  text-transform: uppercase;
  padding: 10px 15px;
  display: inline-block;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}
header .navv ul li a:hover,
header .navv ul li a:active {
  text-decoration: none;
}
header .navv ul li a:hover {
  color: #005ce5;
}
header .bor {
  width: 370px;
  height: 370px;
  border: 10px solid #fba419;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
          transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
header .logo {
  left: 50%;
  top: 0%;
  -webkit-transform: translateY(100%) translateX(-35%) rotate(-45deg);
          transform: translateY(100%) translateX(-35%) rotate(-45deg);
  position: relative;
  padding-top: 40px;
  text-align: center;
}
header .logo .logo2:after {
  content: '';
  margin: 10px 0;
  display: inline-block;
  width: 100px;
  height: 2px;
  background: #989898;
}
header .logo .logo2 .img {
  width: 120px;
}
header .logo ul {
  z-index: 999;
  padding: 0;
}
header .logo ul li {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 100px;
  line-height: 2.2;
  margin: 0 5px;
  padding-right: 0px;
  list-style: none;
  color: white;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}
header .logo ul li:first-child {
  padding-right: 2px;
}
header .logo ul li:hover,
header .logo ul li a:hover {
  color: #00337f;
  border-color: #00337f;
}
header .logo ul li a {
  -webkit-transition: .3s;
  transition: .3s;
}
header h1,
header p,
header .a {
  text-align: center;
  display: block;
  color: white;
}
header h1 {
  padding: 0 20px;
  padding-top: 250px;
  font-size: 90px;
  line-height: 1;
}
header p {
  padding: 0 20px;
  color: gray;
  margin-top: 30px;
  margin-bottom: 30px;
}
.a {
  text-transform: uppercase;
  text-decoration: none;
}
.a:hover,
.a:active {
  text-decoration: none;
}
.button {
  text-transform: uppercase;
  display: inline-block;
  color: white;
  background: #fba419;
  padding: 10px 30px;
  border-radius: 150px;
  -webkit-transition: .3s;
  transition: .3s;
}
.button:hover {
  text-decoration: none;
  background: #dd8a04;
  color: white;
}
section {
  padding: 50px 0;
}
.ourteam {
  background: #2f2f2f;
}
.ourteam .palka2 {
  width: 50%;
  height: 5px;
  margin: 30px 0;
  background: #fba419;
}
.ourteam h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}
.ourteam h1 span {
  color: #fba419;
}
.ourteam p {
  margin-bottom: 20px;
  font-size: 18px;
  color: gray;
}
.ourteam p span {
  color: white;
}
.ourteam .button {
  margin-bottom: 50px;
}
.ourteam-card {
  text-align: center;
  margin-bottom: 20px;
}
.ourteam-card img {
  width: 100%;
}
.ourteam-card h2 {
  margin-top: 10px;
  color: #fba419;
  text-transform: uppercase;
}
.ourteam-card p {
  font-size: 18px;
}
.choose {
  background: #2f2f2f;
}
.choose .box {
  width: 100%;
  height: 100%;
  background: url(../img/bg5.jpg) center no-repeat;
  background-size: cover ;
}
.choose .box img {
  display: none;
}
.choose h1 {
  text-transform: uppercase;
  font-size: 50px;
  margin-left: 50px;
  color: white;
}
.choose h1 span {
  color: #fba419;
}
.choose img {
  width: 100%;
}
.choose-card {
  margin-left: 50px;
  color: white;
}
.choose-card img {
  display: inline-block;
  width: 50px;
}
.choose-card h4 {
  margin-left: 50px;
  display: inline-block;
}
.choose-card p {
  margin-left: 100px;
  color: grey;
}
.foot {
  text-align: center;
  background: url(../img/bg-foot.jpg) center no-repeat;
  background-size: cover;
}
.foot h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}
.foot h1 span {
  color: #fba419;
}
.foot ul {
  list-style: none;
}
.foot ul li {
  width: 65px;
  height: 65px;
  border: 2px solid white;
  border-radius: 100px;
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
}
.foot ul li:hover {
  border-color: #005ce5;
}
.foot ul li a {
  font-size: 30px;
  line-height: 2;
  padding: 15px;
  vertical-align: middle;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}
.foot ul li a:hover {
  color: #005ce5;
}
@media (max-width: 767px) {
  .choose .box img {
    display: block;
  }
}
@media (max-width: 868px) {
  .choose-card h4 {
    margin-left: 10px;
  }
  .choose-card p {
    margin-left: 60px;
  }
}
